// Imports

@import 'normalize';

// Color Variables

$green: #8dc63f;
$greenLight: rgba(141, 198, 63, 0.5);
$greenDark: #53880B;

$grey: #949ca1;
$greyLight: rgba(148, 156, 161, 0.5);
$greyReallyLight: rgba(148, 156, 161, 0.25);
$greyDark: #556975;

$black: #231f20;
$blackLight: rgba(35, 31, 32, 0.8);

$white: #f5f5f5;
$whiteLight: rgba(245, 245, 245, 0.5);

// Other Variables

$gutter: 20px;

$transition: .35s ease;

// General Styles

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color: $blackLight;
	background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

::selection {
  background: $green;
  color: $white;
}

::-moz-selection {
  background: $green;
  color: $white;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// Header

header {
	padding: $gutter 0;
	background: $blackLight;
	border-bottom: 3px solid $green;
	text-align: center;

	img {
		width: 80%;
		max-width: 150px;
	}

	p {
		color: $white;
		font-weight: bold;
	}

}

// Form Section Styling

.form {
	width: 80%;
	max-width: 960px;
	margin: 0px auto;
	margin-top: $gutter;
	padding: $gutter;
	text-align: center;
	background: $white;
	border: 1px solid $greyLight;
	-webkit-box-shadow: 0px 0px 5px 3.5px $greyLight;
	-moz-box-shadow: 0px 0px 5px 3.5px $greyLight;
	box-shadow: 0px 0px 5px 3.5px $greyLight;

	.buttons {

		margin-top: $gutter;

		ul {
			list-style: none;
			padding: 0;
			margin: 0px auto;
			margin-bottom: $gutter;

			&:after {
				content: "";
				display: table;
				clear: both;
			}

			li {
				color: $grey;
				display: block;
				text-decoration: none;
				padding: $gutter;
				font-size: 20px;
				font-weight: bold;
				float: left;
				width: 50%;
				text-align: center;
				transition: $transition;
			}

		}

		.button {
			background: $greyReallyLight;
			
			&:hover {
				background: $grey;
				color: $white;
			}

		}

		.active {
			background: $green;
			color: $white;

			&:hover {
				background: $green;
			}

		}

	}

}

// Form Styling

.inactive {
	display: none;
}

form {

	width: 75%;
	margin: 0px auto;
	
	input, select {
		display: block;
		width: 100%;
	}

}























